<div class="modal fade" #deleteModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body new-employee-field">
        <div class="text-center">
          <span class="rounded-circle d-inline-flex p-2 bg-danger-transparent mb-2">
            <i class="ti ti-trash fs-24 text-danger"></i>
          </span>
          <h4 class="fs-20 fw-bold mb-2 mt-1">Delete Brand</h4>
          <p class="mb-0 fs-16">Are you sure you want to delete <strong>{{ selectedBrand()?.name }}</strong>?</p>
          <div class="modal-footer-btn mt-3 d-flex justify-content-center">
            <button type="button" class="btn me-2 btn-secondary fs-13 fw-medium p-2 px-3 shadow-none" 
                    data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary fs-13 fw-medium p-2 px-3" (click)="confirmDelete()">Yes Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>